{% extends 'inicio.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>
                Secretaría Ejecutiva del Sistema Estatal Anticorrupción de Yucatán
            </h1>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <div class="card">
        <div class="card-header border-transparent">
          <div class="card-tools">
            <p>La filosofía institucional de la SESEAY está fundada y establecida sobre valores universales en la lucha anticorrupción, para guiar hacia una sociedad más justa, equitativa y transparente. Esta filosofía busca el bien común, la promoción de la igualdad de oportunidades y la protección de los derechos de todos los ciudadanos.</p>
            <p>Basándonos en principios sólidos y éticos que nos permiten entender la trascendencia de nuestra labor y que se traduce como una obligación y compromiso con México y con la sociedad yucateca:</p>
            <p>INTEGRIDAD: Implica actuar con honestidad, ética y rectitud. La integridad es fundamental para prevenir y combatir la corrupción, ya que promueve la transparencia, la responsabilidad y la justicia.</p>
            <p>TRANSPARENCIA: Implica la apertura y la divulgación de información relevante para el interés público. Implica asegurar que los procesos de toma de decisiones, los recursos financieros y las acciones de funcionarios púbicos sean accesibles para todos. Permite una supervisión ciudadana, rendición de cuentas y la detección temprana de posibles actos corruptos.</p>
            <p>IMPARCIALIDAD: Valores claves para un Sistema Anticorrupción efectiva. La independencia e imparcialidad garantizan que la Secretaría pueda cumplir con sus funciones y responsabilidades a través de una visión objetiva.</p>
            <p>Misión: Fomentar la integridad, la transparencia y la ética en la gestión pública y privada, a través de principios y políticas que prevengan y combatan la corrupción, generando una cultura íntegra y transparente en la sociedad.</p>
            <p>Visión: Ser una institución líder y referente a nivel local y nacional en la prevención y lucha contra la corrupción, encaminando a la ciudadanía a un ambiente de participación y buenas prácticas, contribuyendo al desarrollo sostenible en el Estado, (justo, equitativo y con el menor índice de hechos de corrupción).</p>
          </div>
        </div>
    <br>
{% endblock %}