{% extends 'inicio.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>
                Comité Coordinador
            </h1>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <div class="card">
        <div class="card-header border-transparent">
          <div class="card-tools">
            <p>Es el eje rector del sistema estatal, conformado por los titulares o representantes de seis instituciones de gobierno y quien preside, cuya función es establecer, articular y evaluar las políticas públicas, procedimientos y principios entre los entes públicos para la prevención, disminución y combate a la corrupción.</p>
            <dl>
                <dd>Presidente del Comité de Participación Ciudadana en turno.</dd>
                <dd>Titular de la Secretaría de la Contraloría General del Estado de Yucatán.</dd>
                <dd>Titular de la Auditoría Superior del Estado de Yucatán.</dd>
                <dd>Presidente del Tribunal de Justicia Administrativa del estado de Yucatán.</dd>
                <dd> Titular de la Fiscalía Especializada en Combate a la Corrupción.</dd>
                <dd>Presidente del Instituto Estatal de Transparencia, Acceso a la Información Pública y Protección de Datos Personales.</dd>
                <dd>Consejero del Consejo de la Judicatura del Poder Judicial del Estado de Yucatán.</dd>
        
              </dl>
          </div>
        </div>
    <br>
{% endblock %}