{% extends 'inicio.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>
                Comité de Participación Ciudadana
            </h1>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <div class="card">
        <div class="card-header border-transparent">
          <div class="card-tools">
            <p>El Sistema Estatal Anticorrupción de Yucatán está integrado por dos órganos colegiados que son el Comité Coordinador y el Comité de Participación Ciudadana (CPC). De acuerdo con lo establecido en el artículo 22 de la Ley del Sistema Estatal Anticorrupción de Yucatán, el CPC es la instancia, que tiene como objetivo coadyuvar al cumplimiento del objeto del Comité Coordinador, así como ser la instancia de vinculación con las organizaciones sociales y académicas relacionadas con las materias de los sistemas nacional y estatal anticorrupción.</p>
            <p>Este comité ciudadano, de acuerdo con la Ley Sistema Estatal Anticorrupción de Yucatán, estará integrado por cinco ciudadanos de probidad, solvencia moral y prestigio que se hayan destacado por su contribución a la transparencia, a la rendición de cuentas o al combate a la corrupción. Quienes integrarán dicho comité serán elegidos y nombrados por la Comisión de Selección que el Congreso del Estado constituirá con siete ciudadanos mexicanos por un período de tres años.</p>
            <p>Los integrantes del CPC durarán en su encargo cinco años sin posibilidad de reelección, renovados de manera escalonada, y solo podrán ser removidos por alguna de las causas establecidas en la norma relativa a los actos de particulares vinculados con faltas administrativas graves. Estos no tendrán relación laboral alguna por virtud de su encargo con la Secretaría Ejecutiva.</p>
            <p>Durante el tiempo de su gestión, los integrantes del CPC no podrán ocupar un empleo, cargo o comisión de cualquier naturaleza, en los gobiernos federal, local o municipal, ni cualquier otro empleo que les impida el libre ejercicio de los servicios que prestarán.</p>
            <p>Ahora bien, el vínculo legal de los integrantes del Comité de Participación Ciudadana con la Secretaría Ejecutiva, así como su contraprestación, se establece a través de contratos de prestación de servicios por honorarios, por lo que no gozan de prestaciones, garantizando así la objetividad en sus aportaciones a la entidad.</p>
          </div>
        </div>
    <br>
{% endblock %}