{% extends 'inicio.html' %}
{% load static %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Unidad de Transparencia
                </h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="card">
    <div class="card-header border-transparent">
        <div class="card-tools">
            <h2>Objetivo</h2>
            <p>Garantizar al ciudadano el acceso a la información que genera y posee la Secretaría Ejecutiva del Sistema
                Estatal Anticorrupción, conforme a lo establecido en la Ley General de Transparencia y Acceso a la
                Información Pública y la Ley de Transparencia y Acceso a la Información Pública del Estado de Yucatán;
                asimismo, propiciar la cultura de la transparencia, rendición de cuentas y protección de datos
                personales dentro de la entidad como Sujeto Obligado.</p>
            <h2>Funciones</h2>
            <ol>
                <li>Recabar y difundir información de las obligaciones de transparencia comunes y obligaciones de
                    transparencia específicas de los sujetos obligados.</li>
                <li>Recibir y dar trámite a las solicitudes de acceso a la información.</li>
                <li>Auxiliar a los particulares en la elaboración de solicitudes de acceso a la información y, en su
                    caso, orientarlos sobre los sujetos obligados competentes conforme a la normatividad aplicable.</li>
                <li>Realizar los trámites internos necesarios para la atención de las solicitudes de acceso a la
                    información.</li>
                <li>Efectuar las notificaciones a los solicitantes.</li>
                <li>Proponer al Comité de Transparencia los procedimientos internos que aseguren la mayor eficiencia en
                    la gestión de las solicitudes de acceso a la información, conforma a la normatividad aplicable.</li>
                <li>Proponer personal habilitado que sea necesario para recibir y dar trámitea las solicitudes de acceso
                    a la información.</li>
                <li>Llevar un registro de las solicitudes de acceso a la información, respuestas, resultados, costos de
                    reproducción y envío.</li>
                <li>Promover e implementar políticas de transparencia proactiva procurando su accesibilidad.</li>
                <li>Fomentar la transparencia y accesibilidad al interior del sujeto obligado.</li>
                <li>Hacer del conocimiento de la instancia competente la probable responsabilidad por el incumplimiento
                    de las obligaciones previstas en la presente Ley y en las demás disposiciones aplicables.</li>
                <li>Las demás que se desprendan de la normatividad aplicable.</li>
            </ol>
            <b>Art. 45 de la Ley General de Transparencia y Acceso a la Información Pública.</b>
            <h2>Titular de la Unidad de Transparencia</h2>
            <p>Lic. Julio César Góngora León, Director Jurídico y Titular de la Unidad de Transparencia.</p>
            <p>Avenida Alemán #51 por 5 y 5-a Colonia Felipe Carrillo Puerto. C.P. 97208</p>
            <p>seseay@transparenciayucatan.org.mx</p>
            <p>(999) 5655620 Ext. 300</p>
            <p>Lunes a Viernes de 08:00 a 15:00 horas</p>
            <h2>Integrantes del Comité de Transparencia</h2>
            <p>Presidente:</p>
            <p>Lic. Julio César Góngora León, Director Jurídico y Titular de la Unidad de Transparencia.</p>
            <p>Vocal:</p>
            <p>Lic. César David Martínez Paredes, Director de Análisis, Prevención y Políticas Públicas.</p>
            <p>Vocal:</p>
            <p>L.A.E. María Alejandra Osorio Hernández, Directora de Administración y Finanzas.</p>
            <p>Secretaria Técnica:</p>
            <p>Lic. Diana Valentina Chuc Franco, Jefa de Información y Documentación Jurídica.</p>
        </div>
    </div>
    <br>
    {% endblock %}