{% extends 'inicio.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>
                Política Estatal Anticorrupción de Yucatán
            </h1>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <div class="card">
        <div class="card-header border-transparent">
          <div class="card-tools">
            <p>La Política Estatal Anticorrupción de Yucatán (PEAY),aprobada el 6 de diciembre del 2021 por el Comité Coordinador del Sistema Estatal Anticorrupción de Yucatán, es un documento dirigido a la ciudadanía y al gobierno que marcará el camino para el combate a la corrupción en nuestro Estado.</p>
            <p>Implementar las 60 prioridades de política pública contenidas en la PEAY traerá beneficios a la administración pública y a la sociedad.</p>
          </div>
          <div class="card-tools">
            <h2>Conoce la Política Estatal Anticorrupción de Yucatán</h2>
          </div>
        </div>
    <br>
{% endblock %}