{% extends 'inicio.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>
                ¡Bienvenidos al apartado de reconocimientos obtenidos!
            </h1>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <div class="card">
        <div class="card-header border-transparent">
          <div class="card-tools">
            <p>En esta sección, nos complace compartir con orgullo los logros y reconocimientos que hemos obtenido a lo largo de nuestra trayectoria. Creemos firmemente en el poder del trabajo duro, la dedicación y la pasión por lo que hacemos, y estos reconocimientos son el reflejo de nuestro compromiso con la excelencia.</p>
          </div>
          <div class="card-tools">
            <h3>Lista de Reconocimientos</h3>
          </div>
        </div>
    <br>
{% endblock %}