{% extends 'inicio.html' %}
{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>
                Convenios de Colaboración.
            </h1>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <div class="card">
        <div class="card-header border-transparent">
          <div class="card-tools">
            <p>El Sistema Estatal Anticorrupción (SEAY), en colaboración con la Secretaría Ejecutiva del Sistema Estatal Anticorrupción de Yucatán (SESEAY), en un esfuerzo conjunto por llevar acciones que incentiven la participación ciudadana, la inserción del sector empresarial y educativo en nuestra entidad en pro de la lucha contra la corrupción, han llevado a cabo diversas actividades, entre las cuales se resaltan múltiples visitas a instancias que han servido de enlace de la SESEAY con el objetivo de entablar canales de comunicación, trabajo en equipo con la ciudadanía y firmas de convenios para trabajar de la mano en proyectos anticorrupción y cultura de integridad.</p>
          </div>
          <div class="card-tools">
            <h2>Lista de Convenios Firmados</h2>
          </div>
        </div>
    <br>
{% endblock %}