{% extends 'inicio.html' %}
{% load static %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    Mecanismo de Queja
                </h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="card">
    <div class="card-header border-transparent">
        <div class="card-tools">
            <h2>
                ¿Que es el mecanismo de queja?
            </h2>
            <p>El mecanismo tiene por finalidad dar atención y trámite a las quejas presentadas por parte de la
                ciudadanía ante la Comisión Ejecutiva o la Secretaría Ejecutiva del Sistema Estatal Anticorrupción de
                Yucatán, por actos u omisiones de autoridades o servidores públicos, o particulares por la presunta
                comisión de faltas administrativas o hechos de corrupción, a efecto de emitir, en caso de ser
                procedente, una recomendación pública de carácter institucional que contenga una política pública que
                enmarque buenas prácticas, con el firme propósito de fortalecer la cultura de integridad y el
                comportamiento ético, sin que esa determinación vincule a las autoridades integrantes del comité
                coordinador en el ejercicio de sus atribuciones originarias, y/o bien, remita el expediente a la
                instancia competente para que determine la existencia o no de faltas administrativas o hechos de
                corrupción mediante la valoración de los medios de prueba que se aporten o se hayan obtenido.</p>
        </div>
        <div class="card-tools">
            <h2>
                ¿El mecanismo de queja está regulado?
            </h2>
            <p>Si, el Reglamento del Mecanismo de Queja fue publicado en el Diario Oficial del Estado el 25 de junio de
                2019. Tiene por objeto regular el mecanismo de queja con la finalidad de emitir políticas públicas a
                través de recomendaciones públicas, de conformidad con las disposiciones aplicables de la Ley del
                Sistema Estatal Anticorrupción de Yucatán.</p>
        </div>
        <div class="card-tools">
            <h2>
                ¿Cuál es el alcance que tiene este mecanismo de queja?
            </h2>
            <ol>
                <li>Dar atención y trámite a las quejas presentadas por la ciudadanía ante la Comisión Ejecutiva o la
                    Secretaría Ejecutiva del Sistema Estatal Anticorrupción del Estado de Yucatán, acorde a lo
                    establecido por el Reglamento del Mecanismo de Queja.</li>
                <li>Emitir, en caso de ser procedente, recomendación no vinculante, pública y de carácter institucional,
                    que contenga una política pública que enmarque buenas prácticas con el firme propósito de fortalecer
                    la cultura de integridad y el comportamiento ético.</li>
                <li>Las mencionadas políticas públicas no tendrán carácter sancionador.</li>
                <li>Cuando en el desarrollo del procedimiento del mecanismo de queja se advierta la posible comisión de
                    un delito, falta administrativa o desvío de recursos, el asunto será canalizado a la instancia
                    competente, según sea el caso, o a los órganos de control interno de los organismos autónomos, para
                    su investigación y fines conducentes.</li>
            </ol>
        </div>
        <div class="card-tools">
            <h2>
                ¿Si inicio un proceso de queja, puede afectar al ejercicio de otros derechos?
            </h2>
            <p>La formulación de quejas por parte de la ciudadanía, así como los acuerdos y recomendaciones que se emitan, no afectarán el ejercicio de otros derechos y medios de defensa que puedan corresponder a los quejosos conforme a las leyes, ni suspenderán o interrumpirán sus plazos de prescripción o caducidad.</p>
        </div>
        <div class="card-tools">
            <h2>
                ¿Quién puede presentar una queja?
            </h2>
            <p>Toda persona, incluso las organizaciones de la sociedad civil, ante la Comisión Ejecutiva del Sistema Estatal Anticorrupción de Yucatán, de manera personal o a través de sus representantes, pueden presentar quejas relacionadas con actos u omisiones de autoridades o servidores públicos de carácter estatal o municipal, o particulares a partir de la aportación de información objetiva que permita la substanciación del mecanismo previsto en el Reglamento.</p>
        </div>
        <div class="card-tools">
            <h2>
                ¿Cuáles son los requisitos mínimos para presentar una queja?
            </h2>
            <p>Deberá formularse por escrito impreso o por cualquier medio de comunicación electrónica, así como a través de medios accesibles para personas con discapacidad. Para ello, el quejoso o, en su caso, la comisión ejecutiva, integrará la queja con los siguientes datos:</p>
        </div>
        <div class="card-tools">
            <h2>
                ¿Tiene costo el trámite?
            </h2>
            <p>Todas las actuaciones que se generen con motivo del mecanismo de queja ante la Comisión Ejecutiva son gratuitas.</p>
        </div>
        <div class="card-tools">
            <h2>
                ¿Qué pasa con mis datos personales?
            </h2>
            <p>Tus datos personales están seguros, ya que el de dichos datos se realiza con fundamentos en los artículos 17, 23 y 28 de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados; artículos 12, 26 y 29 de la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados del Estado de Yucatán.Todas las actuaciones que se generen con motivo del mecanismo de queja ante la Comisión Ejecutiva son gratuitas.</p>
        </div>
    </div>
    <br>
    {% endblock %}